* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #FDFDFE;
  color: #1D2E5C;
  overflow: hidden;
  overflow-y: scroll;
}

body.dark-mode {
  background: #0C111C ;
  color: #D5E2FF ;
}
